:root {
    --mainWidth: 65vw;
    --brightOrange: #E08229;
    --darkOrange: #D6771F;
    --darkerOrange: #D0731C;
    --lightAccentColor: #04B4B4;
    --accentColor: #04C8C8;
}

/*GENERAL*/
* {
    margin: 0px;
    font-family: Okine;
    transition: ease;
    transition-duration: 100ms;
}

body {
    display: grid;
    grid-template-rows: min-content auto min-content;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

@font-face {
    font-family: Okine;
    src: url(../fonts/OkineSans.otf);
}

/*HEADER*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brightOrange);
}


/*MENU HEAD*/

.menuHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brightOrange);
    padding-top: 1%;
    padding-bottom: 1%;
    width: var(--mainWidth);
}

.menuHeadLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuHeadRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.log {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.log a:hover {
    transform: scale(1.1);
}

.shoppingCart {
    background-color: var(--accentColor);
    border: 0px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingCart:hover {
    background-color: var(--lightAccentColor);
    transform: scale(1.1);
    transition: ease;
    transition-duration: 200ms;
}

.shopIcon {
    width: var(--mainWidth);
    background-color: transparent;
    width: 65%;
}

/*MAIN*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/bg.png);
    background-size: 10%;
    background-position: center 0px;
    background-attachment: fixed;
    background-color: var(--accentColor);

    transition: linear;
    transition-duration: 3600000ms;
}

/*SECTIONMAIN*/

section {
    padding-top: 10px;
    width: var(--mainWidth);
    min-width: 260px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: var(--brightOrange);
}

.sectionHeader {
    padding: 20px;
    font-size: 2rem;
    text-align: center;
}



/*FOOTER*/

footer {
    background-color: var(--darkerOrange);
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 2px solid black;
}

.footerDiv {
    width: var(--mainWidth);
}

.footerLogo {
    display: flex;
    align-items: center;
}