/*MENU*/

.menu {
    background-color: var(--darkOrange);
    align-items: center;
    border-bottom: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menuCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: var(--mainWidth);
}

.menuItem {
    width: 25%;
    text-align: center;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}

.menuItem:hover {
    background-color: var(--brightOrange);
}

#currentMenu {
    background-color: var(--brightOrange);
}

.menuLink {
    width: 100%;
    display: block;
    padding-top: 4%;
    padding-bottom: 4%;
}

.menuArrow {
    width: 20px;
    display: none;
}

#arrowCont {
    display: none;
}

/*Media*/

@media (max-width: 780px) {

    .menuHead {
        flex-direction: column;
    }
}

@media (max-width: 666px) {

    .menuCont {
        flex-direction: column;
        width: 100%;
    }

    .menu:hover .menuItem {
        display: flex;
    }

    .menu:hover #arrowCont {
        display: none;
    }

    .menu:focus-within .menuItem {
        display: flex;
    }

    .menu:focus-within #arrowCont {
        display: none;
    }

    .menuItem {
        display: none;
        width: 100%;
    }

    #currentMenu {
        display: flex;
    }

    #arrowCont {
        display: flex;
    }

    .menuArrow {
        width: 30px;
        display: block;
    }
}