body {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;
}

.main {
    background-color: var(--brightOrange);
    background-image: none;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

section {
    width: 50vw;
    border: 0;
    background-color: var(--darkOrange);
    border-radius: 20px;
    padding: 10px;
    max-width: 500px;
}

label {
    width: 100%;
    display: block
}