.main {
    flex-direction: row;
    background-color: var(--darkOrange);
    background-image: none;
    flex-wrap: wrap;
}

section {
    border: none;
    width: 74%;
    border-right: 2px solid black;
    height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: self-start;
    width: 25%;
}

.asideItem {
    margin: 10px;
}

.button {
    background-color: var(--darkOrange);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    width: 100%;
}

.button:hover {
    background-color: var(--lightAccentColor);
    transform: scale(1.03);
    transition: ease;
    transition-duration: 200ms;
    cursor: pointer;
    box-shadow: 2px 2px 1px black;
}

#selected {
    background-color: var(--accentColor);
}

.genre {
    width: 30%;
}

@media (max-width: 1460px) {
    .genre {
        width: 45%;
    }
}

@media (max-width: 1020px) {
    .genre {
        width: 100%;
    }
}

@media (max-width: 540px) {
    section {
        width: 50%;
        min-width: 0;
    }

    aside {
        width: 49%;
    }
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

#genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    width: 40%;
    text-align: center;
}