:root {
    --mainWidth: 65%;
    --brightOrange: #E08229;
    --darkOrange: #D6771F;
    --darkerOrange: #D0731C;
    --lightAccentColor: #04B4B4;
    --accentColor: #04C8C8;
}

/*GENERAL*/
* {
    margin: 0px;
    font-family: Okine;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

@font-face {
    font-family: Okine;
    src: url(../fonts/OkineSans.otf);
}

/*HEADER*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brightOrange);
}


/*MENU HEAD*/

.menuHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brightOrange);
    padding-top: 1%;
    padding-bottom: 1%;

    width: var(--mainWidth);
}

.menuHeadLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuHeadRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.log {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.shoppingCart {
    background-color: var(--accentColor);
    border: 0px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingCart:hover {
    background-color: var(--lightAccentColor);
    transform: scale(1.1);
    transition: ease;
    transition-duration: 200ms;
}

.shopIcon {
    width: var(--mainWidth);
    background-color: transparent;
}

.shoppingCart:hover .shopIcon {
    width: 65%;
}

/*MENU*/

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 17.5%;
    padding-right: 17.5%;
    background-color: var(--darkOrange);
    align-items: center;
    border-bottom: 2px solid black;
    width: var(--mainWidth);
}

.menuItem {
    width: 25%;
    text-align: center;
    height: 45px;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding-left: 1%;
    padding-right: 1%;
}

.menuItem:hover {
    background-color: var(--brightOrange);
}

#currentMenu {
    background-color: var(--brightOrange);
}

.menuLink {
    width: 100%;
    display: block;
    padding-top: 4%;
    padding-bottom: 4%;
    height: 50%;
}

.menuArrow {
    width: 20px;
    display: none;
}

#arrowCont {
    display: none;
}

/*MAIN*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/bg.png);
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;

    background-color: var(--accentColor);
}

/*SECTIONMAIN*/

section {
    /*background-color: var(--lightAccentColor);*/
    padding-top: 10px;
    width: var(--mainWidth);
    min-width: 260px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

section:nth-child(odd) {
    background-color: var(--brightOrange);
}

section:nth-child(even) {
    background-color: var(--darkOrange);
}

.sectionHeader {
    padding: 20px;
    font-size: 2rem;
    text-align: center;
}

/*ITEM*/

.itemContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.defaultItem {
    background-color: var(--darkerOrange);
    margin: 20px;
    border-radius: 20px;
    max-width: 256px;
    cursor: pointer;
    border: 2px black solid;
    box-shadow: 1px 1px 1px black;
}

.defaultItem:hover {
    background-color: var(--accentColor);
    box-shadow: 5px 5px 1px black;
    transform: scale(1.03);
    transition: ease;
    transition-duration: 400ms;
}

.defaultItem:hover .itemImage {
    filter: brightness(85%);
}


.itemImage {
    border-radius: 19px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom: 2px solid black;
    width: 100%;
    background-color: black;
}

.itemInfo {
    margin: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

.itemTitle {
    font-size: 20px;
}

.itemText {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.itemPrice {
    font-size: 30px;
}

.itemDiscount {
    text-decoration: line-through;
    text-align: center;
}

.itemRegion {
    color: white;
    text-transform: uppercase;
}

/*FOOTER*/

footer {
    background-color: var(--darkerOrange);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footerDiv {
    width: var(--mainWidth);
}

.footerLogo {
    display: flex;
    align-items: center;
}



/*Form*/

fieldset{
    border: 0;
}

input{
    border: 0;
    border-radius: 10px;
    padding: 2px;
}

textarea {
    border-radius: 20px;
    padding: 6px;
}



/*Media*/

@media (max-width: 780px) {

    .menuHead {
        flex-direction: column;
    }
}

@media (max-width: 666px) {

    .menu {
        flex-direction: column;
    }

    .menu:hover .menuItem {
        display: flex;
    }

    .menu:hover #arrowCont {
        display: none;
    }

    .menu:focus-within .menuItem {
        display: flex;
    }

    .menu:focus-within #arrowCont {
        display: none;
    }

    .menuItem {
        display: none;
        width: 100vw;
    }

    #currentMenu {
        display: flex;
    }

    #arrowCont {
        display: flex;
    }

    .menuArrow {
        width: 30px;
        display: block;
    }
}